/* VARIABLES */
:root {
--red: #FF6F61;
--blue: #118AB2;
--beige: #f1efe6;
--charcoal: #333;
--green: #28a745;
--dk-green: #218838;
}

/* GENERAL */
* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

/* button {
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
} */

input {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9em;
  padding: 8px;
  width: 200px;
}

/* ASIDE */
aside {
  align-items: flex-end;
  background-color: #c188ff;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  width: 20%;
}

/* HEADER */
header {
  padding-top: 25px;
  text-align: center;
}

h1 {
  font-size: 4em;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

/* NAV */
nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}


/* CSS */
nav > button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #2c2c2c;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgb(237, 202, 229);
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
  cursor: pointer;
}

nav > button:hover,
nav > button:focus-visible{

  outline-color: var(rgb(216, 168, 255));
  outline-offset: .05em;
  background-color: #e787ff;;
  opacity: 0.5;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
  width: 75%;

  background-image: url('my-folder/images/Loverbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: scroll;
}

img {
  pointer-events: none;
  position:fixed;
  width: 200%;
  height: 100%;
  z-index: -1;
}

h3 {
  color: var(--charcoal);
  font-size: 1.3em;
  font-weight: 400;
}

/* ADD MERCHANT */
 #add-new-button, .merchant-options > .discard-merchant-edits,
.merchant-options > .delete-merchant, .merchant-options > .submit-merchant-edits, .view-merchant-coupons, .view-merchant-items, .edit-merchant  {
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  font-family: sans-serif;
  text-decoration: none;
  color: #626262;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background: rgb(237, 202, 229);
  cursor: pointer;
}

#add-new-item-button, #add-new-button, .merchant-options > .discard-merchant-edits,
.merchant-options > .delete-merchant, .merchant-options > .submit-merchant-edits, .view-merchant-coupons, .view-merchant-items, .edit-merchant span{
  position: relative;
  z-index: 2;
}

#add-new-item-button:after, #add-new-button:after, .merchant-options > .discard-merchant-edits:after,
.merchant-options > .delete-merchant:after, .merchant-options > .submit-merchant-edits:after, .view-merchant-coupons:after, .view-merchant-items:after, .edit-merchant:after  {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #aa5aff;
  transition: all .35s;
  opacity: 0.5;
}

#add-new-item-button:hover, #add-new-button:hover, .merchant-options > .discard-merchant-edits:hover,
.merchant-options > .delete-merchant:hover, .merchant-options > .submit-merchant-edits:hover, .merchant-options > button:hover, .view-merchant-coupons:hover, .view-merchant-items:hover , .edit-merchant:hover {
  color: #000000;
}

#add-new-item-button:hover:after, #add-new-button:hover:after, .merchant-options > .discard-merchant-edits:hover:after,
.merchant-options > .delete-merchant:hover:after, .merchant-options > .submit-merchant-edits:hover:after, .view-merchant-coupons:hover:after, .view-merchant-items:hover:after , .edit-merchant:hover:after {
  width: 100%;
}

.display-options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#new-merchant-form > button:hover {
  background-color: #fff;
  color: var(--blue);
}

/* MERCHANT + ITEM CARDS */
.merchant, .item, .coupon{
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.merchant:hover,
.item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

section#coupons-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;  
  justify-content: space-evenly;
}

.coupon {
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.coupon p,
.coupon h2 {
  margin: 5px;
} 

.items-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.item p,
.item h2 {
  margin: 5px;
} 

.merchant-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* .merchant-options > button:hover {
  background-color: var(--beige);
  color: var(--blue);
}

.merchant-options > .submit-merchant-edits {
  background-color: var(--green);
}

.merchant-options > .submit-merchant-edits:hover {
  color: var(--green);
}

.merchant-options > .discard-merchant-edits,
.merchant-options > .delete-merchant {
  background-color: var(--red);
}

.merchant-options > .discard-merchant-edits:hover,
.merchant-options > .delete-merchant:hover {
  color: var(--red);
} */

/* STATUS MESSAGES */
.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}

/* HIDDEN */
.hidden {
  display: none;
}
